<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.md="auto" fxLayoutAlign="start center" style="background-color: aqua; padding: 0; margin: -1em -1em 0 -1em; overflow: auto;">

  <!-- <ul fxFlexOffset>
    <li>
      <h4>Angular Wiki</h4>
    </li>
    <li>
       Angular
    </li>
    <li>Flex Layout</li>
    <li>Angular CLI </li>
    <li>Material Design</li>
    <li>Pipes</li>
    <li>HttpClient</li>
    <li>FontAwesome</li>
  </ul> -->
  <div fxFlex="50%" >
    <ul fxLayout="row" fxLayout.xs="column"fxLayoutGap.xs="0.5em" fxLayoutGap="1em">
      <li><b style="font-size: xx-large;">Angular Wiki</b></li>
      <li><a>Angular</a></li>
      <li><a>Flex Layout</a></li>
      <li><a>Angular CLI</a></li>
      <li><a>Material Design</a></li>
      <li><a>Pipes</a></li>
      <li><a>Http Client</a></li>
      <li><a>FontAwesome</a></li>
    </ul>
  </div>
  <div fxFlex="20%">
      <ul fxLayout="row">
        <li><i class="fab fa-instagram"></i></li>
        <li><i class="fab fa-twitter"></i></li>
        <li><i class="fab fa-facebook-square"></i></li>
        <li><i class="fab fa-linkedin"></i></li>
      </ul>
  </div>
</div> 